---
title: Contact Page
description: This is the contact page. You might use this to provide methods for people to get in touch with you.
layout: layout.njk
---

<h1>
  Contact Page
</h1>

<p>
  This is the Contact Page. If you wanted people to be able to reach you, you
  might provide social media handles, an email address, a physical address, or a
  phone number.
</p>

