<!doctype html>

<html lang="en">
  <head>
    <!-- universally useful, no need to change -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- likely to change from page to page -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- TODO: add link tags, other meta tags, open graph info, etc. -->
  </head>
  <body>
    <header>
      <p>This is the header.</p>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>This is the footer.</p>
    </footer>
  </body>
</html>
