<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <!-- TODO: add link tags, other meta tags, open graph info, etc. -->
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    {% block header %}
      <header>
        <div class="cmp-container">
          <p>This is the header.</p>
        </div>
      </header>
    {% endblock %}
    <main>
      {% block content %}
        <article class="cmp-container">
          {{ content | safe }}
        </article>
      {% endblock %}
    </main>
    {% block footer %}
      <footer>
        <div class="cmp-container">
          <p>This is the footer.</p>
        </div>
      </footer>
    {% endblock %}
  </body>
</html>
