<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="mask-icon" href="/favicon.svg">

    <link rel="apple-touch-icon" href="/maskable_icon.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#f8f8f8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    {% block header %}
      <header>
        <div class="cmp-container">
          <p>This is the header.</p>
        </div>
      </header>
    {% endblock %}
    <main>
      {% block content %}
        <article class="cmp-container">
          {{ content | safe }}
        </article>
      {% endblock %}
    </main>
    {% block footer %}
      <footer>
        <div class="cmp-container">
          <p>This is the footer.</p>
        </div>
      </footer>
    {% endblock %}

    <!-- global scripts, should render on every page -->
    <script src="/additive-math.js" type="module"></script>
    <script src="/additive-math.legacy.js" nomodule></script>

    <!-- page-specific scripts, should be set within the page template -->
    {% block scripts %}{% endblock %}

    <script type="module">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
